<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>Books and Authors</title>
</head>
<body>
    <div id="container">
        <form action="/books" method="post"> 
            {% csrf_token%}
            <h1>Add a Book</h1>
            <p>
                <label for="title">Title</label><input type="text" name="title"/>
            </p>
            <p>
                <label for="desc">Description</label><input type="text" name="desc"/>
            </p>
            <button id="small_button" type="submit">Add</button>
    
        </form>
    
    
        <table>
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Title</td>
                    <td>Action</td>
                </tr>           
            </thead>
            <tbody>
                {% for book in all_books %}
                <tr>
                    <td>{{ book.id }}</td>
                    <td>{{ book.title }}</td>
                    <td><a href="/books/{{ book.id }}">View</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
    

    
</body>
</html>