<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
    <h1>{{ author.first_name }} {{ author.last_name }}</h1>
    <h3>ID: {{ author.id }}</h3>
    <h3>Notes: {{ author.notes }}</h3>

    
    <h3>Books</h3>
    <ul>
        {% for book in books %}
        <li>{{ book.title }}</li>
        {% endfor %}
    </ul>
    <form action="/books/add/{{ author.id }}" method="post">
        {% csrf_token %}
        <p>
            <select name="book_id">
                {% for book in all_books %}
                <option value={{ book.id }}>{{ book.title }}</option>
                {% endfor %}
            </select>
        </p>
        <button type="submit">Add</button>
    </form>
    
</body>
</html>